<link rel="stylesheet" href="#(CPATH)/assets/css/codemirror.css">
<link rel="stylesheet" href="#(CPATH)/assets/css/eclipse.css">
<script src="#(CPATH)/assets/js/codemirror.js"></script>
<script src="#(CPATH)/assets/js/xml.js"></script>
<style>

.CodeMirror {
  border: 1px solid #eee;
  height: 400px;/*auto*/
  font-size: 80%;
}

</style>

#if(jobTemplate!=null && jobTemplate.relativeFilePath != null)
<p class="am-form-help">正在编辑的模板文件: <a href="#(CPATH)/scheduler/downloadTemplateAttachment/#(jobTemplate.id)" target="_blank">#(jobTemplate.relativeFilePath??)</a><span id="hasChangedTips"></span></p>
#end
<textarea id="xmlCode" name="xmlCode"></textarea>


<script type="text/javascript">
//-Start Format XML
//格式化代码函数(原生方式)
String.prototype.removeLineEnd = function () {
    return this.replace(/(<.+?\s+?)(?:\n\s*?(.+?=".*?"))/g, '$1 $2')
}

function formatXml(text) {
    //去掉多余的空格
    text = '\n' + text.replace(/(<\w+)(\s.*?>)/g, function ($0, name, props) {
                return name + ' ' + props.replace(/\s+(\w+=)/g, " $1");
            }).replace(/>\s*?</g, ">\n<");

    //把注释编码
    text = text.replace(/\n/g, '\r').replace(/<!--(.+?)-->/g, function ($0, text) {
        var ret = '<!--' + escape(text) + '-->';
        //console.log(ret);
        return ret;
    }).replace(/\r/g, '\n');

    //调整格式
    var rgx = /\n(<(([^\?]).+?)(?:\s|\s*?>|\s*?(\/)>)(?:.*?(?:(?:(\/)>)|(?:<(\/)\2>)))?)/mg;
    var nodeStack = [];
    var output = text.replace(rgx, function ($0, all, name, isBegin, isCloseFull1, isCloseFull2, isFull1, isFull2) {
        var isClosed = (isCloseFull1 == '/') || (isCloseFull2 == '/' ) || (isFull1 == '/') || (isFull2 == '/');
        //console.log([all,isClosed].join('='));
        var prefix = '';
        if (isBegin == '!') {
            prefix = getPrefix(nodeStack.length);
        }
        else {
            if (isBegin != '/') {
                prefix = getPrefix(nodeStack.length);
                if (!isClosed) {
                    nodeStack.push(name);
                }
            }
            else {
                nodeStack.pop();
                prefix = getPrefix(nodeStack.length);
            }

        }
        var ret = '\n' + prefix + all;
        return ret;
    });

    var prefixSpace = -1;
    var outputText = output.substring(1);
    //console.log(outputText);

    //把注释还原并解码，调格式
    outputText = outputText.replace(/\n/g, '\r').replace(/(\s*)<!--(.+?)-->/g, function ($0, prefix, text) {
        //console.log(['[',prefix,']=',prefix.length].join(''));
        if (prefix.charAt(0) == '\r')
            prefix = prefix.substring(1);
        text = unescape(text).replace(/\r/g, '\n');
        var ret = '\n' + prefix + '<!--' + text.replace(/^\s*/mg, prefix) + '-->';
        //console.log(ret);
        return ret;
    });

    return outputText.replace(/\s+$/g, '').replace(/\r/g, '\r\n');
}

function getPrefix(prefixIndex) {
    var span = '    ';
    var output = [];
    for (var i = 0; i < prefixIndex; ++i) {
        output.push(span);
    }
    return output.join('');
}
//-End Format XML

var editor = CodeMirror.fromTextArea(document.getElementById("xmlCode"), {
	  mode: "application/xml",//实现xml代码高亮
	  lineNumbers: true,//设置显示行号
	  theme: "eclipse",//设置主体样式
      matchBrackets: true,//括号匹配
      smartIndent : true,//智能缩进
	  styleActiveLine: true,//高亮显示活动行
	  revertButtons:false,
	  lineWrapping: true,//自动换行
	  tabMode: "indent",
      cursorHeight: 0.85,//光标高度。默认为1
	});

//添加监听事件
editor.on('change', function (instance,changeObj) {
	//console.log("template content has been changed");
	var changeIt = window.parent.document.getElementById("hasChangedTips");
	//console.log(changeIt);
	$(changeIt).html("<strong id='hasStar' style='color:red'>*</strong>");
});

//异步加载后台XML，但前提是当前Tab标签被激活状态
$('#doc-my-tabs').find('a').on('opened.tabs.amui', function(e) {
		//console.log('[%s] 选项卡打开了', $(this).text());
		if("在线编辑"==$(this).text()) {
			$(function() {
				$.ajax({
					url: "#(CPATH)/scheduler/loadTemplateXml",
					type: "POST",
					data: {
						"templateId":#(jobTemplate.id)
					},
					dataType: "json",
					success: function(rsp){
						if(rsp["code"]==1){
							var originalXml = formatXml(rsp['xml'])
							editor.setValue(originalXml);//editor.getDoc().setValue()
							
							//初始设置默认是没有任何更改操作							
							$("#hasChangedTips").html("");
							
							return true;
			          	} else {
			          		$("#edit-jobtemplate-msg").after('<div id="updateErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>' + rsp['msg'] + '</p></div>');
			          		return false;
						}
					}
				});
			});
		}
		
});





</script>