#@layout(title="修改Scheduler Job模板")

#define content()

<script type="text/javascript" src="#(CPATH)/assets/js/jquery.form.min.js"></script> 

<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Scheduler管理</strong> / <small>Job模板管理</small></div>
    </div>

    <hr>
    
    <div class="am-g">
    	<div class="am-u-sm-12">
    		<div class="am-panel am-panel-default">
				<div class="am-panel-hd">
					模板信息修改
				</div>
				<div class="am-panel-bd">
					#if(jobTemplate!=null)
    				<div id="edit-jobtemplate-msg"></div>
					<div class="am-tabs" data-am-tabs>
						<ul class="am-tabs-nav am-nav am-nav-tabs">
							<li class="am-active"><a href="#basic-tab">基本信息</a></li>
							<li><a href="#upload-attachment-tab">模板文件</a></li>
							<li><a href="#edit-attachment-tab">在线编辑</a></li>
						</ul>
						
						<div class="am-tabs-bd">
							<div class="am-tab-panel am-fade am-in am-active" id="basic-tab">
								<form class="am-form am-form-horizontal" 
									id="saveJobTemplateInfo"
									action="#(CPATH)/scheduler/savejobtemplateinfo" method="post">
									<fieldset>
										#include("_basic_form.html")
									</fieldset>
									
									<!--begin 提交保存按钮 -->
									<div class="am-form-group am-margin">
      									<button type="button" 
      										onclick="updatetemplate()"
      										class="am-btn am-btn-primary am-btn-default">提交保存</button>
      									<button type="button" 
      									class="am-btn am-btn-primary am-btn-default" 
      									onclick="javascript:location.href='#(CPATH)/scheduler/template';return false;">返回</button>		
									</div>
									<!--end 提交保存按钮 -->
								</form>
							</div>
						</div>
						
						<div class="am-tabs-bd">
							<div class="am-tab-panel am-fade am-in" id="upload-attachment-tab">
								<form class="am-form am-form-horizontal" enctype="multipart/form-data" 
									  id="override-template-file-form"
            						  method="POST" action="#(CPATH)/scheduler/overrideTemplateAttachment">
									<fieldset>
										<div class="am-form-group">
										  <input type="hidden" id="templateId" name="templateId" value="#(jobTemplate.id??)" />
										  <label for="job-template-file">模板文件(*):</label> 	
									      <input name="templateFile" type="file" id="job-template-file">
									      #if(jobTemplate!=null && jobTemplate.relativeFilePath != null)
									      	<p class="am-form-help">已上传的模板文件: <a href="#(CPATH)/scheduler/downloadTemplateAttachment/#(jobTemplate.id)" target="_blank">#(jobTemplate.relativeFilePath??)</a></p>
									      #else
									      	<p class="am-form-help">请选择要上传的模板文件(.xml格式)...</p>
									      #end
									    </div>
									</fieldset>
									
									<!--begin 提交保存按钮 -->
									<div class="am-form-group am-margin">
      									<button type="submit" 
      										class="am-btn am-btn-primary am-btn-default" 
      										onclick="">保存文件</button>
      									<button type="button" 
      									class="am-btn am-btn-primary am-btn-default" 
      									onclick="javascript:location.href='#(CPATH)/scheduler/template';return false;">返回</button>		
									</div>
									<!--end 提交保存按钮 -->
								</form>
							</div>
						</div>
						
						<div class="am-tabs-bd">
							<div class="am-tab-panel am-fade am-in" id="edit-attachment-tab">
									<form>
										#include("_xml_load_edit.html")
										
										<!--begin 提交保存按钮 -->
										<div class="am-form-group am-margin">
	      									<button type="submit" 
	      										class="am-btn am-btn-primary am-btn-default" 
	      										onclick="">保存XML文件</button>
	      									<button type="button" 
	      									class="am-btn am-btn-primary am-btn-default" 
	      									onclick="javascript:location.href='#(CPATH)/scheduler/template';return false;">返回</button>		
										</div>
										<!--end 提交保存按钮 -->
									</form>
							</div>
						</div>
						
					</div>
					#end
    			</div>
    		</div>
    	</div>
    </div>
</div>

<script type="text/javascript">

function updatetemplate() {
	$('.am-alert').remove();
	
	var templateName = $("#jobTemplate-name").val();
	if(templateName == "") {
	 	$("#jobTemplate-name").after('<div id="templateNameNullErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>请输入模板名称！</p></div>');
	 	return false;
	}
	
	var templateType = $("#template-type").val();
	if(templateType=="") {
		$("#template-type").after('<div id="templateTypeNullErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>请选择模板类型！</p></div>');
		return false;
	}
	
	var templateApplication = $("#template-application").val();
	if(templateApplication=="") {
		$("#template-application").after('<div id="templateApplicationNullErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>请输入模板用途类别！</p></div>');
		return false;
	}
	
	$.ajax({
		url: "#(CPATH)/scheduler/savejobtemplateinfo",
		type: "POST",
		data: {
			"templateId":$("#jobTemplateId").val(),
			"templateName":templateName,
			"templateType":templateType,
			"templateApplication":templateApplication,
			"templateDescription":$("#template-description").val()
		},
		dataType: "json",
		success: function(rsp){
			if(rsp["code"]==1){
				$("#edit-jobtemplate-msg").after('<div id="result" class="am-alert am-alert-success" data-am-alert><button type="button" class="am-close">&times;</button><p>' + rsp['msg'] + '请手工刷新页面，或<a href="#(CPATH)/scheduler/edittemplate/#(jobTemplate.id)"><span class="am-badge am-badge-warning am-text-lg">点击此处进行刷新</span></a>！</p></div>');
				return true;
          	} else {
          		$("#edit-jobtemplate-msg").after('<div id="updateErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>' + rsp['msg'] + '</p></div>');
          		return false;
			}
		}
	});
}


function checkIfExistOverrideFile() {
	$('.am-alert').remove();
	var templateFiles = $("#job-template-file").val();
	if(templateFiles=="" || templateFiles.length==0) {
		$("#job-template-file").after('<div id="templateFilesNullErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>请指定本地需要上传模板文件！</p></div>');
		return false;
	}
	return true;
}


function responseAfterOverrideTmplAttachment(rsp){
	if(rsp["code"]==1){//新用户名可用
		$("#edit-jobtemplate-msg").after('<div id="result" class="am-alert am-alert-success" data-am-alert><button type="button" class="am-close">&times;</button><p>' + rsp['msg'] + '</p></div>');
		return true;
  	} else {
  		$("#edit-jobtemplate-msg").after('<div id="templateSaveFailedErr" class="am-alert am-alert-danger" data-am-alert><button type="button" class="am-close">&times;</button><p>' + rsp['msg'] + '</p></div>');
  		return false;
	}
}

$(document).ready(function() { 
    var options = { 
        //target:        '#output1',   // target element(s) to be updated with server response 
        beforeSubmit:  checkIfExistOverrideFile,  // pre-submit callback 
        success:       responseAfterOverrideTmplAttachment,  // post-submit callback 
        dataType: 'json',
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        timeout:   3000 
    }; 
 
    // bind form using 'ajaxForm' 
    $('#override-template-file-form').ajaxForm(options); 
}); 


</script>


#end